h1, h2, h3 {font-family : 'Arvo', serif !important;}
h1 {font-size : 32px !important; font-weight : 400;}
h2 {font-size : 24px !important;}
h3 {font-style : italic; font-size : 18px !important;}

hr {border : 0px; border-bottom : 1px dashed #ccc; background : #999;}

body{font-family : 'Josefin Slab', serif !important; font-size : 16px !important;}
p {line-height : 24px !important;}
a {font-family : 'Josefin Slab', serif !important; font-weight : 300 !important;}
a:link {text-decoration : none; color : #333 !important;}
a:visited {text-decoration : none; color : #333 !important;}
a:hover {text-decoration : none; color : #000 !important;}
a:active {text-decoration : none; color : #333 !important;}

@media (min-width : 800px){
    .basicLinksbar{display : block;}
    .basicContentWrapper {padding-left : 300px; padding-right : 80px;}
    .mobileLinksBar{display : none;}
}
@media (max-width: 800px){
    .basicLinksbar{display : none;}
    .basicContentWrapper {padding-left : 20px; padding-right : 20px;}
    .mobileLinksBar{display : block;}
}
.basicLinksbar {height : 100%; width : 200px; position : fixed; z-index : 3;
    margin-top : 40px; padding-left : 5px; padding-right : 5px; float : left;}
.basicSubLinkBtn{padding-left : 10px;}

.mobileLinksBar{max-width : 100%; line-height : 70px; padding-left : 30px;
    padding-right : 30px; margin : 0; text-transform : uppercase;
    font-family : 'Arvo', serif; font-size : 20; font-weight : 300;
    text-decoration : none; z-index : 1000;}
.mobileLinksBar:hover {text-decoration : none; cursor : pointer; background-color : #ecf0f1;}
.mobileLinksBarDropDown {display : none;}
.mobileLinksBarDropDown ul {list-style : none; margin : 0; padding : 0; left : 0; position : absolute;
    max-width : 100%; max-height : 600px; overflow : auto;}
.mobileLinksBarDropDown li {list-style: none;}
.mobileLinksBarDropDown li a {display : block; max-width : 100%; max-height : auto; padding : 10px;
    margin : auto; text-decoration : none; list-style : none; font-family : 'Arvo', serif; font-size : 16;
    font-weight : 300; color : #000000;}
.mobileLinksBarDropDown li a:hover{text-decoration : none; background-color : #ecf0f1;}

.basicPageWrapper {max-width : 100%; margin-top : 0px; margin-bottom : 0px;
    margin-left : auto; margin-right : auto;}


.basicContentWrapper {margin : auto; max-width : 100%; padding-top : 60px; position : relative; z-index : 1;}

.BasicBlogHeadStyle {max-width : 100%; margin-bottom : 25px; list-style : none; padding : 0;}
.BasicBlogHeadStyle li {font-size : 10px;}
.BasicBlogHeadStyle li h1 {font-size : 22px;}
.BasicBlogHeadStyle li a {font-size : 20px; color : #444444;}
.BasicBlogHeadStyle li a:link {color : #333333; text-decoration : none;}
.BasicBlogHeadStyle li a:visited {color : #333333; text-decoration : none;}
.BasicBlogHeadStyle li a:hover {color : #333333; text-decoration : none;}

.basicPageBtn {width : 100%; height : auto; padding : 0; list-style : none;}
.basicPageBtn li a {display : block; width : 180px; padding-left : 20px; font-family : 'Josefin Slab', serif;
    font-size : 14px; font-weight : 400; line-height : 25px; color : #333; text-decoration : none;}
.basicPageBtn li a:hover {cursor : pointer; background-color : #F2F2F2; height : auto; text-decoration : none;}

.BasicButton {background : #f2f2f2; font-family : 'Open Sans', sans-serif; border :none; padding : 5px;}
.BasicButton:hover {background : #ccc;}

.decorBoxBlue {width : 10px; height : 4px; background-color : #33ADB8;}
.decorBoxRed {width : 10px; height : 4px; background-color : #E2584D;}
.decorBoxOrange{width : 10px; height : 4px; background-color : #E8AC6B;}

.BasicLinkStyleBlue {font-family : 'Open Sans', sans-serif; color : #33adb8; text-decoration : none;} 
.BasicLinkStyleBlue:link {font-family : 'Open Sans', sans-serif; color : #33adb8; text-decoration : none;} 
.BasicLinkStyleBlue:visited {font-family : 'Open Sans', sans-serif; color : #33adb8; text-decoration : none;}
.BasicLinkStyleBlue:hover {font-family : 'Open Sans', sans-serif; color : #33adb8; text-decoration : underline;}
.BasicLinkStyleBlue:active {font-family : 'Open Sans', sans-serif; color : #33adb8; text-decoration : none;}

.BasicBlogStyle {position : relative; max-width : 100%; height : auto; padding : 0px; list-style : none;
    font-family : 'Open Sans', sans-serif;}
.BasicBlogStyle li {width : 100%; margin : 0; padding : 0; font-family : 'Open Sans', sans-serif;}
.BasicBlogStyle li span {display : block; width : 100%; margin : 0; padding : 0; font-family : 'Open Sans', sans-serif;
    font-size : 12px;}

.BasicBlogNavStyle {margin-top : 20px; max-width : 100%; font-weight : bold; font-size : 12; text-decoration : none;
    padding : 10px; background-color : #ecf0f1; border-radius : 3px;}
.BasicBlogNavStyle a {color : #333333; text-decoration : none;}
.BasicBlogNavStyle:link {color : #333333; text-decoration : none;}
.BasicBlogNavStyle:visited {color : #333333; text-decoration : none;}
.BasicBlogNavStyle:hover {color : #333333; text-decoration : none;}

.BlogPost{padding-top : 10px; padding-bottom : 50px;}

.categoryPosts ul{list-style : none;padding:0;margin:0;}
.categoryPosts li{font-size:12px;}
.categoryPosts a{padding:0;margin:0;font-family : 'Arvo', serif; font-size : 24px; color : #2980b9;}

.ContactTextField{padding:8px; border:1px solid #bdc3c7; border-radius: 4px;}

.GalleryImages ul{list-style:none; max-width: 100%; padding: 0; margin: 0;}
.GalleryImages li{display:inline-block; padding:10px; vertical-align: middle; background-color:rgba(0,0,0,0); transition: background-color 0.5s ease;}
.GalleryImages li:hover{background-color:rgba(236, 240, 241,1.0)}
.GalleryImages img{height : 150px; width : auto;}

.poweredPeaockWrapper {position : relative; max-width : 100%; margin-top : 50px; padding : 10px;
    background-color: #ecf0f1;}
.poweredPeaock{ display : block; text-transform : uppercase; font-family : Helvetica, sans-serif;
    color : black; font-size : 9; text-align : right;}
.poweredPeaock a{cursor : pointer; text-decoration : none; color : black;}
.poweredPeaock a:visited {text-decoration : none; color : black;}
.poweredPeaock a:hover{text-decoration : none; color : black;}